* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
.header {
  background-color:#635854;
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 4px solid #3596F5;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1280px;
  margin: 0 auto;
}
.navbar-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  text-align: center;
}
.navbar-item {
  margin-left: 40px;
  margin-right: 40px;
}
.navbar-link {
  text-decoration: none;
  color: #ffffff;
}
.navbar-text {
  display: block;
  color: #ffffff;
  margin-bottom: 4px;
}
.navbar-contacts {
  text-align: right;
}
.navbar-phone {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.main {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 54px;
}
.main-info {
  flex-grow: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.home-image path {
  opacity: 0;
  cursor: pointer;
}

.home-image path:hover {
  opacity: 1;
}
path.current-floor {
  opacity: 1;
}

.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.counter-button {
  background: #ffffff;
  border: none;
  cursor: pointer;
}
.main-title {
  margin: 0;
  font-size: 37px;
  line-height: 37px;
  color: #635854;
}
.floor-counter {
  font-weight: bold;
  font-size: 60px;
  line-height: 120px;
  color: #635854;
}

.button-ptimary {
  border: none;
  padding: 16px 36px;
  background: #3596F5;
  border-radius: 6px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.2s;
}
.is-open {
  opacity: 1;
  transform: scale(1);
}
.modal-dialog {
  position: relative;
  max-width: 1000px;
  min-height: 565px;
  background-color: #ffffff;
  flex-grow: 1;
  display: flex;
  transform: translateY(-10%);
  transition: transform 0.2s, opacity 0.2s;
  transition-delay: 0.2s;
  opacity: 0;
}

.is-open > .modal-dialog {
  opacity: 1;
  transform: translateY(0);
}

.modal-image {
  width: 60%;
  background-color: #EBEBEB;
  text-align: center;
  padding: 50px;
}

.flats path {
  opacity: 0;
  cursor: pointer;
}
.flats path:hover {
  opacity: 1;
}

.modal-title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-top: 0;
  margin-bottom: 25px;
  text-transform: uppercase;
}
.modal-info {
  padding: 50px 46px;
  width: 40%;
}
.flat-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 55px;
  margin-bottom: 55px;
}
.flat-item {
  margin-bottom: 10px;
}
.flat-link {
  text-decoration: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
}
.flat-link:hover {
  text-decoration-line: underline;
  color: #3596F5;
}
.modal-alert {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
}
.modal-close-button {
  position: absolute;
  right: 15px;
  top: 15px;
  border: none;
  background: #ffffff;
  cursor: pointer;
}